// slider
.movie-slider__movies {
  display: flex;
  margin-top: 40px;
}

.movie-slider__header {
  display: flex;
  align-items: baseline;
}

.movie-slider__link {
  display: inline-block;
  margin-left: 15px;
}
