.movie-detail {
  position: relative;
}

.movie-detail__backdrop {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 675px;
}

.movie-detail__backdrop-image {
  position: absolute;
  width: 100%;
  height: 99.95%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.movie-detail__backdrop-fade {
  position: relative;
  padding-top: 500px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 675px;
    background-repeat: no-repeat;
    background-image: $movie-fade-gradient;
  }
}

.movie-detail__content {
  position: relative;
  padding-top: 40px;
}

.movie-detail__container {
  display: flex;
}

.movie-detail__info {
  width: 100%;
}

.movie-detail__info--left {
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
}

.movie-detail__info--right {
  flex: 0 1 100%;
  max-width: 100%;
  padding-left: 40px;
}

.movie-detail__meta {
  display: flex;
  margin-bottom: 10px;
  color: $color-casper;
  font-family: $font-chivo;
  font-weight: $font-weight-extra-light;
}

.movie-detail__runtime {
  margin-left: 20px;
}

.movie-detail__genres {
  margin-left: auto;
}

.movie-detail__tagline {
  margin: 20px 0;
  color: $color-casper;
  font-family: $font-chivo;
  text-transform: uppercase;
}

// Cast & Crew
.movie-detail__people,
.movie-detail__person {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: end;
  font-size: 0.925em;
}

.movie-detail__person {
  margin-bottom: 10px;
}

.movie-detail__person-name {
  position: relative;
  grid-column: 1;
  color: $color-pattens-blue;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px dotted $color-casper;
  }
}

.movie-detail__person-role {
  grid-column: 2;
  font-weight: $font-weight-extra-light;
}
