// slider
.movie-slider__movies {
  display: flex;
  margin-top: 40px;
}

// slider item
.movie-slider__item {
  position: relative;

  &:hover {
    .movie-slider__item-info {
      transform: translate3d(0, 0, 0);
    }
  }
}

.movie-slider__item-info {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 15px;
  background-color: $color-black--06;
  text-align: center;
  transform: translate3d(0, 100%, 0);
  transition: $duration-fast transform $easing-default;

  div {
    width: 100%;
  }
}

.movie-slider__item-title {
  color: $color-casper;
}

.movie-slider__item-date-released {
}
